.testimonials-section {
  background-color: #495e57;
  font-family: "karla", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

.testimonials-header {
  text-align: center;
  margin-bottom: 20px;
}

.testimonials-title {
  font-size: 2em;
  color: #fff;
  margin: 0;
}

.testimonials-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  justify-content: center;
}

.testimonial-item {
  background-color: #eee;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
  width: 350px;
  height: 400px;
  box-sizing: border-box;
}

.testimonial-avatar {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.avatar-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ccc;
}

.testimonial-content {
  text-align: center;
}

.testimonial-meta {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: space-between;
}

.testimonial-name {
  font-weight: bold;
  margin: 0;
}

.testimonial-rating {
  color: #888;
  margin: 5px 0 0 0;
	font-size: 16px;
}

.testimonial-text {
  font-style: italic;
  margin: 0;
}

@media (min-width: 768px) {
  .testimonial-item {
    width: 350px;
  }
}

@media (max-width: 480px) {
  .testimonials-title {
    font-size: 1.5em;
  }

  .avatar-image {
    width: 60px;
    height: 60px;
  }

  .testimonial-item {
    width: 100%;
    padding: 15px;
  }

  .testimonial-meta {
    font-size: 0.9em;
  }

  .testimonial-text {
    font-size: 0.9em;
  }
}
